.background-image {
    background-image: url(food-background-jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

h1 {
    font-size: 3rem;
}

button {
    background-color: red;
    width: 200px;
    height: 50px;
    color: white;
    border-radius: 5%;
}

button:hover {
    cursor: pointer;
    background-color: green;
}

p {
    background-color: antiquewhite;
}